@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
   
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.right-links{
  display: flex;
  
}

.right-links ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color: #F9FAF8;
    
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.hero{
  max-width: 500px; 
}


.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero-img{
    min-width: fit-content;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px;
    color: #F9FAF8;
    border: 0px;
    
}

.hero-img{
    max-width: 500px;
    max-height: 500px;
}

.main h3{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container{
   display: flex;
   flex-direction: column;
   padding: 16px;
   
}

.img-container .subtext{
    color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.quote-name{
    font-size: x-large;
    font-style: normal;
    font-weight: bolder;
    color: #1F2937;
    margin-left: 320px;
    
}

.action{
    margin: 100px 300px;
    background-color: #3882F6;
    flex: 1;
    display: flex;
    padding: 32px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.action-words{
    margin-left: 50px;
    gap: 32px;
}

.action-text{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.action .button{
    margin-right: 50px;
    border-radius: 8px !important;
    border: 2px solid #f9faf8
    
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 32px;
    align-items: center;
    color: #F9FAF8;
}